.clickable {
  cursor: pointer;
  margin: 15px 0;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.positive {
  color: #3aba23;
}
.negative {
  color: #ff5733;
}

.widthSet {
  max-width: 32px;
}

.heightSet {
  max-height: 50px;
}

.thImg {
  max-width: 64px;
  background-color: rgb(248, 249, 252);
}
