.clickable {
  cursor: pointer;
  margin: 15px 0;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.positive {
  color: #3aba23;
}
.negative {
  color: #ff5733;
}
.row {
  display: flex;
}

.row > div {
  flex: 1;
  background: rgb(250, 250, 250);
  border: 1px solid rgb(196, 196, 196);
}
